# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/考研数据结构_C.sln
/考研数据结构_C.vcxproj
/考研数据结构_C.vcxproj.filters
/考研数据结构_C.vcxproj.user
/.vs/考研数据结构_C/v17
/.vs/考研数据结构_C/FileContentIndex
/x64/Debug
/stl_tree.h
